pesenhub_be/.env
pesenhub_app/config/*.local.json
pesenhub_be/bin/
pesenhub_be/coverage/
pesenhub_be/tmp/
pesenhub_be/dist/
pesenhub_be/*.log
pesenhub_be/sessions/
pesenhub_be/.sessions/
pesenhub_be/qr/
pesenhub_be/storages/
pesenhub_be/gowa_storage/
