APP_NAME=PesenHub
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8080
APP_TIMEZONE=Asia/Jakarta

DATABASE_HOST=postgres
DATABASE_PORT=5432
POSTGRES_HOST_PORT=5432
DATABASE_NAME=pesenhub
DATABASE_USER=pesenhub
DATABASE_PASSWORD=change_me
DATABASE_SSLMODE=disable

GOWA_BASE_URL=http://gowa:3000
GOWA_BASIC_AUTH_USERNAME=pesenhub
GOWA_BASIC_AUTH_PASSWORD=change_me
GOWA_DEVICE_ID=pesenhub-dev
GOWA_REQUEST_TIMEOUT=3s
GOWA_WEBHOOK_SECRET=replace_with_at_least_32_random_chars

MIDTRANS_BASE_URL=https://api.sandbox.midtrans.com
MIDTRANS_SERVER_KEY=replace_with_sandbox_server_key
MIDTRANS_REQUEST_TIMEOUT=5s
